---
layout: default
---

<h1>Namo Tassa Bhagavato Arahato Sammā Sambudhassa<br>
&nbsp;&nbsp;<br></h1>

<h4>Hello visitor, this is the page of Buddhism, Meditation & Mental Health cardano staking pool. Feel free to explore.<br>
&nbsp;&nbsp;<br></h4>

<ul>
  {% for category in site.categories %}
       <li>
         <h3><a href="{{ category.url }}">{{ category.name }}</a></h3>
         <h5>{{ category.open_source }}</h5>
         <!--<p>{{ category.content | markdownify }}</p> -->
		 <!--<p class="category-subtitle">{{ category.excerpt }}</p> -->
       </li>
  {% endfor %}
</ul>

<h2>&nbsp;&nbsp;<br>
Recent Posts</h2>
<!-- Post preview -->
 {% for post in paginator.posts %}
  <!-- Divider -->
    <hr class="my-4" />
  <div class="post-preview">
          
    <span class="date">{{ post.date | date_to_string }}</span>
    <h4><a href="{{ post.url | relative_url }}">{{ post.title }}
      <!-- <h5 class="post-title">{{ post.title }}</h5> -->    
    </a>
	</h4>
    <p class="post-subtitle">{{ post.excerpt }}</p>
    <!--<a href="{{ post.url | relative_url  }}">Read More</a> -->

  </div>

{% endfor %}

<!-- Pagination links  -->
 <div class="pagination d-flex justify-content-end mb-4">
  {% if paginator.previous_page %}
       <a href="{{ paginator.previous_page_path }}" class="previous btn btn-primary text-uppercase">
         Previous
       </a>
     {% else %}
       <span class="previous btn btn-primary text-uppercase">Previous</span>
     {% endif %}
     <span class="page_number btn btn-primary text-uppercase">
       Page: {{ paginator.page }} of {{ paginator.total_pages }}
     </span>
     {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next btn btn-primary text-uppercase">Next</a>
     {% else %}
          <span class="next btn btn-primary text-uppercase">Next</span>
     {% endif %}
</div> 

<!--<button class="button button1" 
        style="background-color: #0d6efd; color: #ffffff;">
    <a href="https://cexplorer.io/pool/pool1p8yn95k4wgznc38ezckler84ufc6kxemmsvptv74r3g4zkxj24q" 
       style="color: #ffffff; text-decoration: none;">
        Delegate to BUDDA
    </a>
</button> -->


<!-- <a href="https://cexplorer.io/pool/pool1p8yn95k4wgznc38ezckler84ufc6kxemmsvptv74r3g4zkxj24q" class="button button3">Delegate to BUDDA</a> -->

<!-- Pagination code snipplet version 2 
{% if paginator.total_pages > 1 %}
     <div class="pagination">
       {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
       {% else %}
            <span>&laquo; Prev</span>
       {% endif %}

       {% for page in (1..paginator.total_pages) %}
         {% if page == paginator.page %}
              <em>{{ page }}</em>
         {% elsif page == 1 %}
              <a href="{{ '/' | relative_url }}">{{ page }}</a>
         {% else %}
              <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
         {% endif %}
       {% endfor %}

       {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
       {% else %}
            <span>Next &raquo;</span>
       {% endif %}
     </div>
{% endif %} -->

<p>This tool can help you to predict future rewards if you delegate to a specific pool <a href="https://dynamicstrategies.io/crewardcalculator" target="_blank">crewardcalculator.</a></p>

<button class="button button2"> <a href="https://cexplorer.io/pool/pool1p8yn95k4wgznc38ezckler84ufc6kxemmsvptv74r3g4zkxj24q">Delegate to BUDDA whenever you want</a></button>
 
<p><strong>Thank you for visiting my site,<br>
May good karma be with you!<br>
Regards.
</strong></p>

<a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/buddapool/buddapool.github.io/81fc6e61a47c238fc5f12b152089128327ad1b28/assets/images/logo.png"></img></a>
