<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 text-center">

        <!-- Logo -->
        <a href="/" aria-label="Back to home">
          <img src="{{ 'assets/images/logo.png' | relative_url }}" alt="BUDDA Pool" class="footer-logo">
        </a>

        <!-- Social icons -->
        <ul class="list-inline text-center mb-2">
          <li class="list-inline-item">
            <a href="https://x.com/@BuddaADAPool" target="_blank" rel="noopener" aria-label="X">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://t.me/buddapool" target="_blank" rel="noopener" aria-label="Telegram">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://discord.gg/52CC6MBu" target="_blank" rel="noopener" aria-label="Discord">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/budda.bmm" target="_blank" rel="noopener" aria-label="Facebook">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://maps.app.goo.gl/akTGsGXaMA1rJ82Y8" target="_blank" rel="noopener" aria-label="Google Maps">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-google fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>

        <p class="footer-copyright">&copy; 2022 [BUDDA] Cardano Stake Pool &mdash; All Rights Reserved.</p>

      </div>
    </div>
  </div>
</footer>
