<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
  <div class="container px-4 px-lg-5">

    <!-- Brand: always visible -->
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ 'assets/images/logo.png' | relative_url }}" alt="BUDDA Pool" class="nav-logo-mobile">
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav py-4 py-lg-0">

        <li class="nav-item{% if page.url == '/' %} active{% endif %}">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ '/' | relative_url }}">Home</a>
        </li>

        <li class="nav-item{% if page.url == '/about/' %} active{% endif %}">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ '/about/' | relative_url }}">About</a>
        </li>

        <li class="nav-item{% if page.url == '/guide/' %} active{% endif %}">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ '/guide/' | relative_url }}">Guide</a>
        </li>

        <li class="nav-item{% if page.url == '/governance/' %} active{% endif %}">
          <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ '/governance/' | relative_url }}">Governance</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4 nav-delegate"
             href="https://cexplorer.io/pool/pool1p8yn95k4wgznc38ezckler84ufc6kxemmsvptv74r3g4zkxj24q?action=delegate"
             target="_blank" rel="noopener">Delegate</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
