<!DOCTYPE html>
<html>
  
  <!-- Head -->
  {%- include head.html -%}
  <body>

    <!-- Navigation -->
    {%- include navigation.html -%}

    <!-- Post Header -->
    {%- include postheader.html -%}

    <main id="main" role="main" class="container">

        </div>
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
        	        <div class="site-heading">
           <h1>{{ page.title }}</h1>
           <p>
             {{ page.date | date_to_string }}
             {% assign category = site.categories | where: 'short_name', page.category | first %}
             {% if category %}
               - <a href="{{ category.url }}"">{{ category.name }}</a>
             {% endif %}
           </p>
            {{ content }}

          </div>
		  <strong>.</strong>
		  <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/buddapool/buddapool.github.io/refs/heads/main/assets/images/logo.png"></a>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {%- include footer.html -%}

  </body>
</html>
